.clear-completed,
html .clear-completed:active {
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.clear-completed:hover {
    text-decoration: underline;
}

.timer {
    position: unset;
    font-size: 13px;
}

.timer button {
    position: unset !important;
    margin-right: 5px !important;
}

.timer .icon-pause {
    margin-right: 10px !important;
}
